# NUGET
packages/
project.lock.json
*.nuget.props
*.nuget.targets


# NPM
**/node_modules
**/coverage
npm-debug.log
npm-debug.log.*
debug.log

# STYLEGUIDE
**/styleguide/**/*.html
**/gulp/phantomcss/failures/
**/gulp/phantomcss/results/
**/gulp/settings/rendered-components.json
**/gulp/temp/


# OUTPUT
target/
packages/
**/bin/
**/obj/
**/Debug/
**/Release/
**/dist/
**/Import Schema Logs/


# VARIOUS
*.suo
*.user
*.dbmdl
*.bat
*.orig
*.iml


/.project
.vs/*
TestResults/
.idea
*.scwdp.zip
*.Cache
certificates/
.DS_Store

/deployment/Environments/local/environmentsettings.json
/deployment/Environments/local/*.zip
/deployment/packages/*.zip