<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name=" The Reference Tests Ruleset" Description="This rule set contains all rules that are implied on Unit Test projects at The Reference." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Include Path="TheReferenceProject.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1822" Action="None" />
  </Rules>
</RuleSet>