<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Attendees" description="BeeGhentle Attendees items" dependencies="Foundation.Serialization" extends="Helix.Base">
          <predicate>
            <include name="SubmitActions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Attendees"/>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>