.page-list--events, .promo-event {
  ul.items {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 49%;
      margin-bottom: $padding-small;
      border: 2px solid $color-brand-dark;
      border-radius: 5px;

      &:nth-child(odd) {
        @media(min-width: $mobile-grid-breakpoint) {
          margin-right: 1%;
        }
      }

      &:nth-child(even) {
        @media(min-width: $mobile-grid-breakpoint) {
          margin-left: 1%;
        }
      }

      h3 a {
        color: $color-gray;
        text-decoration: none;
        font-size: 1.25em;
        border: none;

        &:hover {
          text-decoration: underline;
        }
      }
      
      @media(max-width: $mobile-grid-breakpoint) {
        margin-bottom:10px;
        width: 100%;
      }
    }
  }

  .event-info {
    .label {
      font-weight: 700;
    }
  }
  .event-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-top: 2px solid #9c8684;
  }

  .event-session {
    flex-grow: 1;
    padding: 10px 10px 10px 0px;
    .event-title {
      font-style: italic;
    }
  }

  .event-speakers {
    display: flex;
    flex-wrap: wrap;

    .event-speaker+.event-speaker {
      padding-right: 5px;
    }
    
    .event-speaker:first-of-type {
      &:before {
        content: 'By ';
      }
    }
    .event-speaker {
      font-weight: 700;
      &:before {
        content: ', ';
      }
    }
    .event-speaker:last-of-type:not(:first-of-type) {
      &:before {
        content: ' & ';
      }
    }
  }
}

.promo.promo-event { 
  width: 49%;

  .component-content {
    border: none;
  }

  h2 {
    color: #9c8684;
    font-size: 2em;
  }

  .event-tile {
    border: 2px solid $color-brand-dark;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;


    h3 a {
      color: $color-gray;
      text-decoration: none;
      font-size: 1.25em;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media(max-width: $mobile-grid-breakpoint) {
    width: 100%;
  }
}