.page-list--sessions {
  ul.items {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 100%;
      border: none;
      padding: $padding-medium/2 0;
      padding-left: $padding-medium;
      margin-bottom: $padding-small;
      border-left: 10px solid $color-brand-dark;
    }

    .session-content {
      .field-title, .field-duration {
        display: inline-block;
      }

      .field-title {
        color: $color-gray;
        font-size: 2em;
      }

      .field-duration {
        font-style: italic;
        padding-left: 10px;
      }
    }

    .session-speakers {
      display: flex;
      flex-wrap: wrap;
      margin-top: $padding-small;
    }

    .speaker-card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      min-width: 25%;
      margin-right: $padding-big;
      padding: $padding-small;
      margin-bottom: $padding-small;
      border: 2px solid $color-brand-dark;
      border-radius: 75px;

      &>* {
        @media(min-width: $mobile-grid-breakpoint) {
          margin-right: 20px;
        }
      }

      @media(max-width: $mobile-grid-breakpoint) {
        flex-direction: column;
        width: 100%;
        margin-right: 30px;
        border-radius: 10px;
      }
    }

    .speaker-picture {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $color-brand-dark;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .speaker-info {
      max-width: 200px;
      @media(max-width: $mobile-grid-breakpoint) {
        padding-top: $padding-small;
        text-align: center;
      }
    }
  }
}