<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">
    <sc.variable name="sourceFolder" value="~\..\..\Source\src" />

    <sc.variable name="sourceFolder" env:require="!Local">
      <patch:attribute name="value">~\$(dataFolder)\Unicorn</patch:attribute>
    </sc.variable>

    <settings>
      <!-- Changes the text of the warning for items that are serialized by Unicorn. -->
      <setting name="Unicorn.DevMode" value="true" env:require="Local" />
      <setting name="Unicorn.DevMode" value="false" env:require="!Local" />
    </settings>

    <unicorn>
      <configurations>
        <configuration name="Project.Platform" description="Platform items" dependencies="Foundation.Serialization,Feature.Rules" extends="Helix.Base">
          <predicate>
            <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature/BeeGhentle" />
            <include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation/BeeGhentle" />
            <include name="Feature.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/BeeGhentle" />
            
            <include name="Project.Bootstrap" database="master" path="/sitecore/system/Settings/Feature/Experience Accelerator/Bootstrap 4/Bootstrap 4 Grid Definition"/>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>