<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <settings>
      <setting name="ItemCloning.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="DeviceDetection.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Analytics.PerformLookup">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Login.DisableAutoComplete">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Media.DisableFileMedia">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="RequireLockBeforeEditing">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="AutomaticUnlockOnSaved">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="WebEdit.PlaceholdersEditableWithoutSettings">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Rendering.SiteResolving">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Media.RequestProtection.SharedSecret">
        <patch:attribute name="value">jaYSR3WFCd3V350Ic7dz5iUCTAJO4xwISAc6LvYGPa4SKcguYHhrL9ODRf7VUo4fTq319xP6qxEdoHCgc8VRcpc1gbrBMBAhU3UhlRjpd7ocOHVdCNm25SbNwJVKaKx</patch:attribute>
      </setting>
      <setting name="ServerTimeZone" value="UTC"/>
    </settings>
  </sitecore>
</configuration>