<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Serialization" description="Sitecore.Solution.Framework Root items" extends="Helix.Base">
                  <predicate>
                    <include name="Project.Templates" database="master" path="/sitecore/templates/Project/BeeGhentle">
                      <exclude children="true" />
                    </include>
                    <include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation/BeeGhentle">
                      <exclude children="true" />
                    </include>
                    <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature/BeeGhentle">
                      <exclude children="true" />
                    </include>
                    <include name="Feature.Layout" database="master" path="/sitecore/layout/Renderings/Feature/BeeGhentle">
                      <exclude children="true" />
                    </include>
                    <include name="Project.Media" database="master" path="/sitecore/media library/Project/BeeGhentle">
                      <exclude children="true" />
                    </include>
                    <include name="Theme" database="master" path="/sitecore/media library/Themes/BeeGhentle">
                      <exclude children="true" />
                    </include>
                    <include name="Content" database="master" path="/sitecore/content/BeeGhentle">
                      <exclude children="true" />
                    </include>
                  </predicate>
                  
                  <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>