<!--
    ********************************************************************
    Unicorn Helix configurations
   
    Defines standard configurations for modules in all layers
    ********************************************************************
   
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Helix.Base" abstract="true">
                  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\development" useDataCache="false" singleInstance="true" />
                </configuration>
                <configuration name="Helix.Base.ContentEditor" extends="Helix.Base" abstract="true">
                  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\contentedited" useDataCache="false" singleInstance="true" />
                  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true" env:require="!(Local or Development)" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>