<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.BeeGhentle" description="BeeGhentle public website items" dependencies="Foundation.Serialization,Project.Platform" extends="Helix.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Project/BeeGhentle"/>
            
            <include name="Theme" database="master" path="/sitecore/media library/Themes/BeeGhentle" />
            
            <include name="Content BeeGhentle Structure" database="master" path="/sitecore/content/BeeGhentle">
              <exclude children="true" />
            </include>
            <include name="Content SUG Structure" database="master" path="/sitecore/content/BeeGhentle/SUG" env:require="Local or Development">
              <exclude path="/Home"/>
              <exclude path="/Data"/>
              <exclude path="/Media"/>
            </include>
          </predicate>
        </configuration>
        <configuration name="Project.BeeGhentle.Content" description="BeeGhentle public website content items" dependencies="Foundation.Serialization,Project.Platform" extends="Helix.Base.ContentEditor" env:require="Local or Development">
            <predicate>
              <include name="Media BeeGhentle" database="master" path="/sitecore/media library/Project/BeeGhentle" env:require="Local or Development"/>
              <include name="Content BeeGhentle Home" database="master" path="/sitecore/content/BeeGhentle/SUG/Home" env:require="Local or Development">
                <exclude namePattern="^tt.*" />
              </include>
              <include name="Content BeeGhentle Data" database="master" path="/sitecore/content/BeeGhentle/SUG/Data" env:require="Local or Development">
                <exclude namePattern="^tt.*" />
              </include>
              <include name="Content BeeGhentle Media" database="master" path="/sitecore/content/BeeGhentle/SUG/Media" env:require="Local or Development">
                <exclude namePattern="^tt.*" />
              </include>
              <include name="Content BeeGhentle Forms" database="master" path="/sitecore/Forms" env:require="Local or Development">
                <exclude namePattern="^tt.*" />
              </include>
            </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>